/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700');

body {background-color: #f78f1e;}

#myCalculator { margin: 0 auto; padding: 0; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 24px; max-width: 800px; }


#myCalculator main {
    background-color: #444;
}

#myCalculator main section {
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 130px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: auto 100px;
}

#myCalculator main::after {
    content: '';
    display: block;
    clear: both;
}

#myCalculator main section.sin {
    background-color: #ba2d2d;
    background-image: url('http://image005.flaticon.com/1/png/128/10/10522.png');
}

#myCalculator main section.cou {
    background-color: #de6615;
    background-image: url('https://cdn1.iconfinder.com/data/icons/people-13/100/People1-30-128.png');
}

#myCalculator main section.par {
    background-color: #efc20f;
    background-image: url('https://cdn1.iconfinder.com/data/icons/people-13/100/People1-25-128.png');
}

#myCalculator main section.fam {
    background-color: #36b23c;
    background-image: url('http://image005.flaticon.com/1/png/128/57/57992.png');
}

#myCalculator main section > div {
    padding: 5px 0;
    background-color: rgba(0,0,0,0.15);
}

#myCalculator main h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    margin: -30px 0 5px 0;
    text-transform: uppercase;
}

#myCalculator main p {
    margin: 0;
    font-size: 1.4em;
    font-weight: 700;
}

#myCalculator main p + p {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
}


#myCalculator main a {
display: block;
padding: 5px;
text-decoration: none;
color: white;
background-color: black;
width: 75%;
margin: 5px auto;
border-radius: 5px;
}

#myCalculator main a:hover {
    background-color: #AC005f;
}

#myCalculator main p::after{content: 'p.a.'; color: rgba(255,255,255,.5); padding-left: 4px;}
#myCalculator main p + p::after{content: 'monthly net cost'; color: rgba(255,255,255,.5); padding-left: 4px; display:block; clear: left;}


#myCalculator form {
    background-color: #000;
    margin: 0;
    padding: 10px 0;
}

#myCalculator form br {
    display: none;
}

#myCalculator form > div {
    color: #fff;
    width: 33%;
    float: left;
    text-align: center;
    padding: 10px 0 5px 0;
}

#myCalculator form::after {
    content: '';
    display: block;
    clear: both;
}

#myCalculator form h4 {
    color: #aaa;
    margin: 0 0 -5px 0;
    font-size: 1.5em;
    font-weight: 300;
}

#myCalculator form p {
    color: #888;
    margin: 0 0 6px 0;
    font-size: .9em;
}

#myCalculator form input[type=number] {
    width: 70px;
    text-align: left;
    font-size: 1em;
}

#myCalculator form select {
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff url('images/icons_arrows.svg') no-repeat right 6px;
    background-size: 30px 20px;
    padding: 3px 30px 3px 5px
}

#myCalculator form select::-ms-expand {display: none;}

@media all and (max-width: 600px) {
    #myCalculator {font-size: 15px}
    #myCalculator main section {background-size: auto 71px; padding-top: 80px; width: 50%; }
    #myCalculator main h4 {margin: 0; font-size: .75em; letter-spacing: 0;}
    #myCalculator main p {font-size: 1.1em}
    #myCalculator main p + p {font-size: 1em}
    #myCalculator main p + p::after {display: block; margin-top: -10px; color: #fff}
    #myCalculator form br {display: inline}
    #myCalculator form h4 {font-size: 1.1em; margin: 0; }
    #myCalculator form p {font-size: .8em; line-height: 14px}
    #myCalculator form input[type=number] {width: 70px; font-size: .8em;}
    #myCalculator form select {font-size: .8em}


}

