<!DOCTYPE HTML>
<html ng-app="myCalculator">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="assets/calculator.css">
        <script type="text/javascript" src="assets/angular.min.js"></script>
        <script type="text/javascript" src="assets/calculator.js"></script>
		<title>Calculator</title>
	</head>
	<body>
        <div id="myCalculator" ng-controller="CalculatorController">
          <main>
            <section class="sin">
              <div>
                <h4>Single</h4>
                <p>{{single_cost | currency:"£"}}</p>
                <p>{{single_net_cost | currency:"£"}}</p>
                <a href="apply?who=single&net={{single_net_cost}}&cost={{single_cost}}&{{current_excess}}">Apply</a>
              </div>
            </section>
            <section class="cou">
              <div>
                <h4>Couple</h4>
                <p>{{couple_cost | currency:"£"}}</p>
                <p>{{couple_net_cost | currency:"£"}}</p>
                <a href="apply?who=couple&net={{couple_net_cost}}&cost={{couple_cost}}&{{current_excess}}">Apply</a>
              </div>
            </section>
            <section class="par">
              <div>
                <h4>Parent</h4>
                <p>{{parent_cost | currency:"£"}}</p>
                <p>{{parent_net_cost | currency:"£"}}</p>
                <a href="apply?who=parent&net={{parent_net_cost}}&cost={{parent_cost}}&{{current_excess}}">Apply</a>
              </div>
            </section>
            <section class="fam">
              <div>
                <h4>Family</h4>
                <p>{{family_cost | currency:"£"}}</p>
                <p>{{family_net_cost | currency:"£"}}</p>
                  <a href="apply?who=family&net={{family_net_cost}}&cost={{family_cost}}&{{current_excess}}">Apply</a>
              </div>
            </section>
          </main>
          <form name="pmi_selection" ng-submit="">
            <div>
              <h4>Salary</h4>
              <p>Income <br>per year</p>
              <input type="number" ng-model="current_salary" ng-change="calculate()" value="{{current_salary}}">
              </input>
            </div>
            <div>
              <h4>Age</h4>
              <p>Your age on<br> 01/06/2016</p>
              <input type="number" ng-change="calculate()" ng-model="current_age" value="{{current_age}}">
            </div>
            <div>
              <h4>Excess</h4>
              <p>How much you pay<br> per claim</p>
              <select ng-model="current_excess" ng-change="calculate()" ng-options="o as o for o in excess_options">
            </div>
          </form>

        </div>


	</body>
</html>